{% load static %}
{% block content %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-class text-center wow ">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <div class="ps-3 pe-3">
                            <h5 class="mt-n1 mb-0">منوی اصلی</h5>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <div class="ps-2 pe-2">
                            <h5 class="mt-n1 mb-0">نوشیدنی </h5>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane p-0 active">
                    <div class="row g-4">




                        <!-- Menu Start -->
                        <div class="row" class="store-items" id="store-items">

                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static 'img/سوشی سبزیجات.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name"> سوشی سبزیجات</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">216000</strong></h5>

                                        </div>
                                    </div>
                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src=".{% static '/img/سوشی ماهی.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">سوشی ماهی</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">268000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/سوشی میگو.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">سوشی میگو</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">288000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/سوشی مرغ.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">سوشی مرغ</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">236000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/نودل معمولی.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">نودل معمولی</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">96000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/نودل گوشت.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">نودل گوشت</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">176000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/نودل مرغ.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">نودل مرغ</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">148000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/برنج سرخ شده مرغ.jpg' %}"
                                            class="card-img-top store-img" alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">برنج سرخ شده مرغ</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">136000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/برنج سرخ شده گوشت.jpg' %}"
                                            class="card-img-top store-img" alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">برنج سرخ شده گوشت</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">166000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/دامپلینگ .jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">دامپلینگ گوشت</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">145000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/دامپلینگ .jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">دامپلینگ مرغ</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">125000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/کباب بره سرخ شده تند.jpg' %}"
                                            class="card-img-top store-img" alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">کباب بره سرخ شده تند</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">157000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/کباب مرغ سرخ شده تند.jpg' %}"
                                            class="card-img-top store-img" alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">کباب مرغ سرخ شده تند </h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">128000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/سیب زمینی چینی.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">سیب زمینی چینی</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">88000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/سالاد پای خوان گواا.jpg' %}"
                                            class="card-img-top store-img" alt="" style="height: 265px;">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">سالاد پای خوان گوا</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">84000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                        </div>
                        <!-- Menu End -->
                    </div>
                </div>
                <div id="tab-2" class="tab-pane  p-0">
                    <div class="row g-4">

                        <!-- Menu Start -->
                        <div class="row" class="store-items" id="store-items">

                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/coca.jpg' %}" class="card-img-top store-img" alt=""
                                            style="height: 400px;">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">نوشابه قوطی کوکا </h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">16500</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/fanta.jpg' %}" class="card-img-top store-img" alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">نوشابه قوطی فانتا </h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">16500</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/نوشابه زیرو.jfif' %}" class="card-img-top store-img"
                                            alt="" style="height: 400px;">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">نوشابه قوطی زیرو </h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">16500</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/limonade.jpg' %}" class="card-img-top store-img"
                                            alt="">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">لیموناد </h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">16000</strong></h5>

                                        </div>
                                    </div>


                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                            <!-- single item -->
                            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{% static '/img/water.jpg' %}" class="card-img-top store-img" alt=""
                                            style="height: 400px;">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name"> آب معدنی کوچک </h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">4000</strong></h5>

                                        </div>
                                    </div>
                                </div>
                                <!-- end of card-->
                            </div>
                            <!--end of single store item-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}