<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1> فاکتور خرید </h1>
  <h2>{{ .id }} :نام و نام خانوادگی</h2>
  <h2> فاکتور</h2>
  <h2>نشانی</h2>
  <p> تخمین زمان آماده‌سازی: 20 دقیقه </p>
  <p>{{ order.id }} شماره خرید: </p>

  <a href="{% url 'website:to_bank' order.id %}" class="btn btn-outline-secondary text-uppercase btn-pink"> پرداخت
    صورتحساب</a>


</body>
</html>