{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown"> فاکتور خرید</h1>
  </div>
</div>

{% if request.user.is_authenticated %}
<h2> از خرید شما متشکریم.</h2>
<h2> فاکتور خرید </h2>






<h2>  {{ request.user.first_name }} {{ request.user.last_name }} :نام و نام خانوادگی</h2>
<p> ایمیل: {{ request.user.email }}</p>
<p> فاکتور</p>
<p> تعداد: </p>
<p>نشانی</p>
<p> تخمین زمان آماده‌سازی: 20 دقیقه </p>
<p> شماره خرید: </p>

{% else %}<p>لطفا با حساب کاربری وارد شوید</p></a>
{% endif %}

    


{% endblock %}